.navbar-li {
    border: #091728 0.5px solid;
    text-decoration: none;
}

.navbar-li:hover a {
    color: #FDCF40;
    transition: 0.2s;
}

.navbar-li:hover {
    border-bottom: #FDCF40 0.5px solid;
    transition: 0.2s;
}

.navbar-li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 12px 17px;
}